body {
    display: flex;
    background-color: #f9fafb;
    font-family: Arial, Helvetica, sans-serif;
}


main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

.left-side{
    display: flex;
    flex-direction: column;
    border: dashed red;
    align-items: center;
    flex-basis: 100%;
    flex: 1;
    width: 40vw;
    height: 100vh;

}
.right-side{
    display: flex;
    flex-direction: column;
    border: dashed orange;
    flex-basis: 100%;
    flex: 2;
    width: 60vw;
    height: 100vh;
}


.header{
    display: flex;
    flex-direction: column;
    border: dashed green;
}
.form{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* flex: 1; */
    /* flex-wrap: wrap; */
    border: dashed purple;
}

.form > div {
    /* flex: 1; */
    flex-basis: 50%; 
    box-shadow: 0 0 0 1px black;
    margin-bottom: 10px;
  }
label,input{
    display:flex;
    flex-direction:column;
  }

  
.submit-section{
    display: flex;
    flex-direction: column;
}